@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter Tight", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #555;
}
::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
}

::selection {
    background: transparent;
    color: #BEC2BB;
}
img {
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari и Chrome */
    -ms-user-select: none; /* IE10+/Edge */
}

.body-content {
    display: none;
}

.body-content.loaded {
    display: inline;
}

.loader-container {
    position: relative;
    width: 100%; /* Полная ширина */
    height: 100vh; /* Полная высота */
    justify-content: center;
    align-items: flex-end; /* Выравнивание числа по низу контейнера */
}

.background {
    position: relative;
    width: 100%; /* Ширина фона числа */
    height: 100%; /* Полная высота */
    background-color: white; /* Фон под числом */
}

.number {
    font-size: 200px; /* Размер шрифта числа */
    margin-left: 40px;
    transition: all 0.1s linear;
    position: absolute;
}

.cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.1s linear;
    background-color: #BEC2BB; /* Цвет затемнения */
}

.advantages-black:hover div.flex-wrap {
    color: black;
}
.price-text:hover p {
    color: white;
}
.price-text:hover span {
    color: white;
}
.price-text:hover h3 {
    color: white;
}

.animate-show:hover .animate-up-fast {
    transform: translateY(-150%);
    transition: transform 0.1s ease-in-out;
}

.animate-show:hover .animate-up-slow {
    transform: translateY(0%);
    height: 100px;
    transition: transform 0.2s ease-in-out;
}
.animate-show {
    overflow: hidden;
}
.animate-up-fast, .animate-up-slow {
    transform: translateY(100%);
    transition: transform 0.2s ease-in-out;
}

input:focus {
    outline: none;
}
select:focus {
    outline: none;
}
select {
    border: none;
    outline: none;
    scroll-behavior: smooth;
    border-image-width: 0;
}

.radio-custom:checked  {
    background: #BEC2BB;
}

textarea:focus {
    outline: none
}