@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter Tight", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #555;
}
::-webkit-scrollbar-thumb:hover {
    background: #9d9d9d;
}

::selection {
    background: transparent;
    color: #f7d583;
}
img {
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari Ð¸ Chrome */
    -ms-user-select: none; /* IE10+/Edge */
}

.body-content {
    opacity: 0.2;
    transition: opacity 1.5s ease-out;
}

.body-content.loaded {
    opacity: 1;
}